* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

/******** HERO ********/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:hsl(168, 21%, 19%);
    color: #EAEDEC;
}

.about {
    display: grid;
    grid-template: 1fr / 40% 60%;
    margin-bottom: 2rem;
    /* margin-top: 3rem; */
}

.left {
    text-align: right;
    line-height: 3rem;
    letter-spacing: .07rem;
}

.right {
    padding-left: 15%;
} 

.right p {
    padding-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h5 {
    font-weight: normal;
    color: #a3adaa;
}

nav {
    /* margin-bottom: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    border: 1px solid #fff;
    padding: .3rem 1.5rem;
    margin: 1rem;
    color: #EAEDEC;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    scroll-behavior: smooth;
}

.nav-bar:hover, .nav-bar:active {
    background: #EAEDEC;
    color:hsl(168, 21%, 19%);
}

.hero-peaks {
    background: url('hero-layered-peaks.svg');
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -15%;
    text-align: center;
    
}

/******** ABOUT ********/

#about {
    background: #EAEDEC;
    width: 100%;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about p {
    width: 50%;
    margin: 1em;
    padding-bottom: 0;
}

/******** PROJECTS ********/

#projects {
    background: #EAEDEC;
    width: 100%;
    padding: 5em 0;
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    color:hsl(168, 21%, 19%);
    margin: 1em 0;
}

.project-item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    max-width: 60%;
    z-index: 10;
}

.project-text, h4 {
    color: hsl(168, 21%, 19%);
    line-height: 1.5em;
}

h4 {
    font-size: 1.5em;
}

.project-text p {
    padding: 1em 3em 1em 0;
}

h4:hover {
    text-decoration: underline;
}

.project-image {
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
}

.project-image:hover {
    opacity: .9;
}

/******** FOOTER/CONTACT ********/

footer {
    padding: 2rem 0;
    background:hsl(168, 21%, 19%);
    color: #fff;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: inline;
    width: 10%;
  }

input, textarea {
  font: 1rem sans-serif;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: 1px solid #EAEDEC;
  margin: .5rem 0;
  color: #fff;
  vertical-align: middle;
}

textarea {
    height: 4rem;
}

.contact-button {
    padding: .5em 2em;
    margin-top: 1rem;
    cursor: pointer;
    border: 1px solid #EAEDEC;
    text-transform: uppercase;
    background: none;
    letter-spacing: .08em;
    color: #fff;
}

.contact-button:hover {
    background:#EAEDEC;
    color:hsl(168, 21%, 19%);
}

footer p {
    display: block;
    text-align: right;
    margin-right: 2em;
}

/******** MEDIA QUERIES ********/

@media only screen and (min-width: 1800px) and (max-width: 2560px) {

    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {

    .about {
        margin-bottom: 2rem;
    }    

    #about p {
        width: 70%;
    }
    
    .project-item {
        flex-direction: column;
        align-items: center;
        max-width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    
    body {
        font-size: 14px;
    }

    .hero {
        justify-content: center;
    }
    
    .about {
        grid-template: 1fr / 1fr;
        margin-bottom: 3em;
    }    

    h1 {
        font-size: 2rem;
    }

    .left {
        text-align: left;
        padding-bottom: 1rem;
        line-height: 2rem;
    }
    
    .right {
        padding-left: 0;
    } 

    .right p {
        padding-bottom: .5rem;
    }

    .nav-bar {
        padding: 0.5rem 2rem;
    }

    .hero-peaks {
        display: none;
    }

    
    #about p {
        width: 85%;
    }

    h3 {
        padding: 0;
        text-align: center;
    }

    .project-item {
        flex-wrap: wrap;
        width: 95%;
        margin: 2em auto;
    }

    .project-text p {
        margin: 0 auto;
        padding: 1em 0 2em 0;
    }

    .project-image {
        width: 100%;
        margin: 0 auto;
    }

    footer p {
        text-align: center;
        margin: 1.5rem 0 0 0;
    }
}