* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

/******** HERO ********/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:hsl(168, 21%, 19%);
    color: #EAEDEC;
}

.about {
    display: grid;
    grid-template: 1fr / 40% 60%;
    margin-bottom: 2rem;
    /* margin-top: 3rem; */
}

.left {
    text-align: right;
    line-height: 3rem;
    letter-spacing: .07rem;
}

.right {
    padding-left: 15%;
} 

.right p {
    padding-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h5 {
    font-weight: normal;
    color: #a3adaa;
}

nav {
    /* margin-bottom: 2rem; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    border: 1px solid #fff;
    padding: .3rem 1.5rem;
    margin: 1rem;
    color: #EAEDEC;
    font-size: 14px;
    border-radius: 2px;
    position: relative;
    scroll-behavior: smooth;
}

.nav-bar:hover, .nav-bar:active {
    background: #EAEDEC;
    color:hsl(168, 21%, 19%);
}

.hero-peaks {
    background: url('hero-layered-peaks.svg');
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -15%;
    text-align: center;
    
}

/******** ABOUT ********/

#about {
    background: #EAEDEC;
    width: 100%;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about p {
    width: 50%;
    margin: 1em;
    padding-bottom: 0;
}

/******** PROJECTS ********/

#projects {
    background: #EAEDEC;
    width: 100%;
    padding: 5em 0;
}

h3 {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    color:hsl(168, 21%, 19%);
    margin-bottom: 1em;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    max-width: 50%;
}

h4 {
    font-size: 1.5em;
    color: hsl(168, 21%, 19%);
}

.project-text p {
    padding-top: 1em;
}

h4:hover {
    text-decoration: underline;
}

.project-image {
    width: 100%;
    border-radius: 10px;
    padding: 2em 0 1em 0;
}

.project-image:hover {
    opacity: .9;
}

/******** FOOTER/CONTACT ********/

footer {
    padding: 2rem 0;
    background:hsl(168, 21%, 19%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    width: 30%;
    text-align: center;
}

.white-text {
    color: #fff;
    padding-top: 1em;
}

.link-text {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.link-text:hover, .link-text:active {
    text-decoration-color: #a3adaa;
    color: #a3adaa;
}

.copyright {
    margin-top: 4em;
}

/******** MEDIA QUERIES ********/

@media only screen and (min-width: 1800px) and (max-width: 2560px) {

    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {

    #about p {
        width: 70%;
    }
    
    .project-item {
        max-width: 80%;
    }

    .footer-text {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {

    .hero {
        justify-content: center;
    }
    
    .about {
        grid-template: 1fr / 1fr;
        margin: 0 1em 3em 1em ;
    }    

    h1 {
        font-size: 2rem;
    }

    .left {
        text-align: left;
        padding-bottom: 1rem;
        line-height: 2rem;
    }
    
    .right {
        padding-left: 0;
    } 

    .right p {
        padding-bottom: .5rem;
    }

    .nav-bar {
        padding: 0.5rem 2rem;
    }

    .hero-peaks {
        display: none;
    }

    #about p {
        width: 85%;
    }

    .project-item {
        width: 95%;
    }

    .footer-text {
        width: 70%;
    }
}